html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 60px;
    background-color: #8FBC8F;
    margin-bottom: 35px;
}
h3 {
    margin-top: 10px;
}
.navbar-fixed-top {
    border-bottom: 2px solid #f00;
}
.navbar-brand,
.navbar-brand:hover,
.navbar-brand:active {
    background-color: #2E8B57 !important;
    color: #000 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border: 1px solid #8FBC8F;  /* Override bootstrap's border style.*/
}
.table {
    margin-bottom: 5px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    color: #2E8B57;
}
a:hover,
a:focus {
    color: #2E8B57;
    text-decoration: underline;
}
.wrap-single {
    width: 50%;
    margin: auto;
}
.wrapper {
    margin: 0 2%;
    padding: 0;
    box-sizing: border-box;
}
.wrapper .col-large {
    width: 80.5%;
    float: left;
}
.wrapper .col-large .main {
    width: 69.5%;
    float: left;
}
.wrapper .col-large .suggestions {
    float: right;
    padding: 5px;
    border-radius: 3px;
    width: 30%;
    background-color: #fff;
    box-shadow: 0 0 4px #2E8B57;
}
.wrapper .col-small {
    width: 19%;
    padding: 5px;
    border-radius: 3px;
    background-color: #fff;
    float: right;
    box-shadow: 0 0 4px #2E8B57;
}
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 3px;
}

div.likes div.media,
div.shares div.media,
div.replies div.media,
div.comments div.media,
div.friends div.media,
div.chat-friends div.media,
div.suggested-users div.media {
    margin: 0 0 2px 0;
    padding-bottom: 2px;
    border-bottom: 1px dotted #8FBC8F;
}
div.media:last-child {
    margin-bottom: 0 !important;
    border: none !important;
}

div#secondary-user div.media {
    margin-bottom: 3px;
}
div#secondary-user ul {
    background-color: #8FBC8F;
    clear: both;
}
div#secondary-user ul li {
    margin-right: -5px;
    display: inline;
}
div#secondary-user ul li a {
    color: #000;
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
}
div#secondary-user ul li a.active {
    border-bottom: 5px solid #2E8B57;
    padding-bottom: 0px;
}
div#primary-user {
    margin-bottom: 5px;
}
div#primary-user h4.media-heading a,
div#secondary-user h4.media-heading a {
    color: #2E8B57;
    font-weight: bold;
}
div#primary-user a:hover {
    text-decoration: none;
}
.gallery {
    margin: 0 -20px;
}
.gallery div {
    padding: 0 5px;
    margin-bottom: 10px;
}
.gallery img {
    width: 100%;
    height: 100px;
}
.user-nav ul {
    background-color: #8FBC8F;
    border-radius: 3px;
}
ul.dropdown-menu  {
    background-color: #8FBC8F;
}
.user-nav ul li,
ul.dropdown-menu li {
    border-bottom: 1px solid #fff;
}
ul.dropdown-menu li:last-child {
    border-bottom: none;
}
.user-nav li a {
    text-decoration: none;
    display: block;
    font-weight: bold;
    padding: 5px;
    color: #000;
}
.user-nav li a:hover,
.user-nav li a:focus {
    background-color: #2E8B57;
}
.user-nav > ul > li:first-child > a:hover,
.user-nav > ul > li:first-child > a:focus {
    border-radius: 3px 3px 0 0;
}
.user-nav > ul > li:last-child > a:hover,
.user-nav > ul > li:last-child > a:focus {
    border-radius: 0 0 3px 3px;
}
ul.dropdown-menu li a {
    font-weight: bold;
}
ul.dropdown-menu li a:hover {
    background-color: #2E8B57;
}

ul.about li,
ul.profile li,
ul.messages li,
ul.notifications li {
    margin-bottom: 3px;
    padding-bottom: 2px;
    border-bottom: 1px dotted #8FBC8F;
}

ul.messages li {
    padding-bottom: 0;
}

div.active-users div.media {
    padding: 5px;
    margin-top: 0;
    border-radius: 3px;
}
div.active-users div:hover {
    background-color: #8FBC8F;
}
div.active-users div:hover a {
    color: #fff;
}

ul.about li:last-child,
ul.messages li:last-child,
ul.notifications li:last-child,
div.show-profile ul:last-child li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

div.likes img.media-object,
div.shares img.media-object,
div.replies img.media-object,
div.members img.media-object,
div.friends img.media-object,
div.comments img.media-object,
div.followers img.media-object,
div.following img.media-object,
div.active-users img.media-object,
div.chat-friends img.media-object {
    width: 40px;
    height: 42.9px;  /* Always match height for div.media-body */
}
div.active-users img.media-object {
    border-radius: 50%;
}

.btn,
.btn:hover,
.btn:active,
.btn:focus {
    color: #fff;
    border-color: #2E8B57;
    background-color: #2E8B57;
}
div.media-body h4 {
    font-size: 14px;
}

div#primary-user h4.media-heading,
div#secondary-user h4.media-heading,
div.active-users h4.media-heading {
    margin-top: 5px;
}
div.likes h4.media-heading,
div.shares h4.media-heading,
div.replies h4.media-heading,
div.comments h4.media-heading {
    margin-bottom: -2px;
}

img.media-object {
    width: 45px;
    height: 45px;
}

div#primary-user img.media-object {
    border-radius: 3px;
}

div#secondary-user img.media-object {
    width: 75px;
    height: 75px;
}

ul.about li:last-child,
ul.messages li:last-child,
ul.notifications li:last-child,
div.show-profile ul:last-child li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

small.time {
    display: inline-block;
    font-style: oblique;
}
article header h4 small.time {
    padding: 3px 0;
    display: block;
    font-style: normal;
}

div.suggestions > h4 {
    margin-top: 8px;
    padding-bottom: 3px;
    border-bottom: 1px solid #8FBC8F;
}
.badge {
    background-color: #f00;
}
.navbar-right .badge {
    padding: 2px 5px;
}
footer.footer {
    position: absolute;
    bottom: 0;
    padding: 2px 0 5px 0;
    border-top: 2px solid #f00;
    background-color: #2E8B57;
    height: 30px;
    width: 100%;
}
footer.footer a {
    color: #fff;
    text-decoration: underline;
}
nav#user-nav-mobile {
    display: none;
}
nav#user-nav-mobile {
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 5px 0;
}
nav#user-nav-mobile ul li {
    display: inline;
    width: auto;
}
div.main-content {
    border-radius: 3px;
    width: 69%;
    float: right;
}
div.side-content {
    border-radius: 3px;
    width: 30%;
    padding: 5px;
    float: left;
    background-color: #fff;
    box-shadow: 0 0 4px #2E8B57;
}
div.box {
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 5px;
    background-color: #fff;
    line-height: 2em;
    box-shadow: 0 0 4px #2E8B57;
}
div.box:last-child {
    margin-bottom: 0;
}
div.box > h4 {
    margin-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
    border-bottom: 1px solid #8FBC8F;
}

div.wrap-single legend {
    padding-bottom: 5px;
    border-bottom: 1px solid #8FBC8F;
}

div.show-profile h4 {
    font-weight: bold;
    color: #2E8B57;
}
div.show-profile ul.profile > span {
    display: block;
    padding: 0 5px;
    border-radius: 3px;
    background-color: #8FBC8F;
}
ul.profile {
    margin-bottom: 15px;
}
div.show-profile ul:last-child {
    margin-bottom: 0;
}

article.post header,
article.photo header {
    border-bottom: 1px solid #8FBC8F;
}

p.comment,
p.reply,
article.message p,
ul.notifications li a {
    display: inline;
    margin: 0 10px 0 0;
}

ul.notifications strong.object {
    color: #2E8B57;
}
ul.notifications li a {
    color: #000;
    text-decoration: none;
}

article.photo img {
    margin: 5px auto 0 auto;
    width: 100%;
    height: 250px;
    max-width: 100%;
}

article.message footer {
    display: inline-block;
}
article header h4 {
    margin-top: 3px;
    padding: 2px 0;
    margin-bottom: 0;
}
article header a {
    font-weight: bold;
}
article header a:hover {
    text-decoration: none;
}
article p {
    margin-bottom: 3px;
}
article p a.more {
    display: inline-block;
}
article footer ul {
    margin-top: 5px;
    border-top: 1px solid #8FBC8F;
}
article footer > ul > li {
    display: inline;
}
article footer > ul > li > a {
    text-decoration: none;
    display: inline-block;
}
article footer > ul > li > a:hover {
    text-decoration: none;
    color: #2E8B57;
}
article footer > ul > li > span {
    display: inline-block;
    margin: 0 5px;
}
form label {
    display: block;
    margin-bottom: 0;
}
form div.input-group div label {
    font-weight: normal;
}
form div.input-group {
    margin-bottom: 10px;
}
form div.input-group p {
    margin-bottom: 0;
}
form div.input-group div {
    display: inline-block;
}
form input,
form textarea {
    background-color: #8FBC8F;
    padding: 1px 5px;
    border-radius: 1px 1px 3px 3px;
    border: 1px solid #8FBC8F;
    border-top: 2px solid #2E8B57;
    color: #fff;
    font-weight: bold;
}
form textarea {
    resize: none;
}
form input[type="file"] {
    background-color: #fff;
    border-radius: 0;
    border: none;
    padding: 0;
    margin-top: 5px;
}
.fluid {
    width: 100%;
}
form .has-error {
    color: #A94442;
    border: 1px solid #EBCCD1;
    border-top: 2px solid rgba(255,0,0,.3);
    background-color: #F2DEDE;
}
span.error {
    display: block;
    color: #A94442;
}
span.logged-in {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
}
.alert {
    border-radius: 3px;
    margin-bottom: 0;
}
form input:focus,
form textarea:focus,
form select:focus {
    color: #000;
    font-weight: normal;
    background-color: #fff;
}
div.form-group {
    margin-bottom: 5px;
}
fieldset > p,
div.input-group p {
    font-weight: bold;
}
span.help-block {
    margin-top: 0;
    margin-bottom: 5px;
}
form#send-message {
    padding-bottom: 5px;
    border-bottom: 1px dotted #8FBC8F;
}
form#comment-bottom {
    padding-top: 5px;
    border-top: 1px dotted #8FBC8F;
}

p.post {
    text-align: justify;
    margin: 0;
}

p.post a.more {
    display: inline-block;
}
div.more a,
div.previous a {
    display: block;
}

div#comment {
    margin-bottom: 2.5px;
}
div#reply img.media-object,
div#comment img.media-object {
    height: 49.4px;  /* Always the same as the height of media-body */
}

@media (max-width: 480px) {
    html {
        height: auto;
    }
    body {
        margin-bottom: 80px;
    }
    .wrapper .col-large {
        float: none;
        width: 100% !important;
    }
    .wrapper .col-small {
        display: none;
    }
    .wrapper .col-large .side-content,
    .wrapper .col-large .suggestions {
        display: none;
    }
    div.wrapper div.col-large div.user-home div.side-content,
    div.wrapper div.col-large div.group-home div.side-content {
        display: block;
        width: 100%;
        float: none;
        margin-bottom: 5px;
    }
    .wrapper .col-large .main-content,
    .wrapper .col-large .main {
        float: none;
        width: 100%;
    }
    .wrap-single {
        width: auto;
        margin: 0 2%;
    }
    nav#user-nav-mobile {
        display: block;
    }
    .gallery img {
        height: auto;
        max-height: 200px;
    }
    div.col-xs-6:last-child {
        margin-bottom: 0;
    }
    div.col-xs-6 {
        width: 100%;
    }
    footer.footer {
        height: auto;
    }
    footer.footer a.pull-right {
        display: block;
        margin-bottom: 5px;
        float: none !important;
    }
    article footer ul li a {
        width: auto;
    }
    article footer .comment,
    article footer .share {
        text-align: left;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    body {
        margin-bottom: 80px;
    }
    ul.navbar-right li:nth-child(1),
    ul.navbar-right li:nth-child(2) {
        display: none;
    }
    .wrapper .col-large {
        width: 100%;
    }
    .wrapper .col-small {
        display: none;
    }
    .wrapper .col-large .main,
    .wrapper .col-large .suggestions {
        width: 100%;
    }
    .wrapper .col-large .suggestions {
        display: none;
    }
    .wrap-single {
        width: 60%;
        margin: auto;
    }
    nav#user-nav-mobile {
        display: block;
    }
    article footer > ul > li > a {
        width: auto;
    }
    footer.footer {
        height: auto;
    }
    footer.footer a.pull-right {
        display: block;
        margin-bottom: 5px;
        float: none !important;
    }
}

@media (min-width: 768px) and (max-width: 971px) {
    ul.navbar-right li:nth-child(1),
    ul.navbar-right li:nth-child(2) {
        display: none;
    }
    nav#user-nav-mobile {
        display: block;
    }
    div.suggestions h4 {
        margin-top: 5px;
        padding-bottom: 5px;
    }
    .wrapper .col-large {
        width: 100%;
    }
    div.col-small {
        display: none;
    }
}
