html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #8FBC8F;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 35px;
    padding-top: 60px;
}

h3 {
    margin-top: 10px;
}

h5 {
    font-weight: bold;
}

br + br {
    display: block;
    margin: 5px 0;
}

article p {
    margin-bottom: 5px;
}

.navbar-fixed-top {
    border-bottom: 2px solid #f00;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:active {
    background-color: #2E8B57 !important;
    color: #000 !important;
}

 /* Override bootstrap's styles.*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border: 1px solid #8FBC8F;
}

.nav-tabs + .panel {
    border-radius: 0 0 4px;
}
.panel {
    margin-bottom: 0;
}
.panel-heading,
.panel-body,
.panel-footer {
    padding: 5px;
}

.list-group {
    margin-bottom: 0;
}
.list-group-item {
    padding: 5px 10px;
}
/* End override */

.table {
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: #2E8B57;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #2E8B57;
}

.wrapper-md {
    margin: auto;
    width: 40%;
}

.wrapper-md input[type="text"],
.wrapper-md input[type="email"],
.wrapper-md input[type="password"] {
    width: 70% !important;
}

.wrapper-lg {
    box-sizing: border-box;
    margin: 0 1%;
    padding: 0;
}

.wrapper-lg .col-large {
    width: 74.5%;
    float: left;
}

.wrapper-lg .col-large .main {
    width: 69.5%;
    float: left;
}

.wrapper-lg .col-large .suggestions {
    box-shadow: 0 0 4px #2E8B57;
    background-color: #fff;
    border-radius: 3px;
    float: right;
    padding: 5px;
    width: 30%;
}

.wrapper-lg .col-small {
    box-shadow: 0 0 4px #2E8B57;
    background-color: #fff;
    border-radius: 3px;
    padding: 5px;
    float: right;
    width: 25%;
}

.profile-pic {
    border-radius: 3px;
    height: 50px;
    width: 50px;
}

div.media {
    margin: 0 0 2px 0;
}

div.likes div.media,
div.shares div.media,
div.replies div.media,
div.friends div.media,
div.comments div.media,
div.messages article.media,
div.chat-friends div.media,
div.suggested-users div.media,
div.birthday-messages div.media {
    border-bottom: 1px dotted #8FBC8F;
    padding-bottom: 2px;
}

div.media:last-child,
article.media:last-child {
    margin-bottom: 0 !important;
    border: none !important;
}

div#secondary-user ul li {
    margin-right: -5px;
    display: inline;
}

div#secondary-user ul li a {
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    padding: 5px;
    color: #000;
}

div#secondary-user ul li a.active {
    border-bottom: 5px solid #2E8B57;
    padding-bottom: 0px;
}

nav.user-nav {
    margin-top: 5px;
}
nav.user-nav ul li a.active {
    background-color: #2E8B57;
}

div#primary-user.media {
    margin: 0;
}

div#primary-user h4.media-heading a {
    color: #2E8B57;
    font-weight: bold;
}

div#primary-user a:hover {
    text-decoration: none;
}

nav.user-nav ul {
    background-color: #8FBC8F;
    border-radius: 3px;
}

nav.user-nav ul li {
    border-bottom: 1px solid #fff;
}

nav.user-nav li a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 5px;
    color: #000;
}

nav.user-nav li a:hover,
nav.user-nav li a:focus {
    background-color: #2E8B57;
}

nav.user-nav > ul > li:first-child > a:hover,
nav.user-nav > ul > li:first-child > a:focus {
    border-radius: 3px 3px 0 0;
}

nav.user-nav > ul > li:last-child > a:hover,
nav.user-nav > ul > li:last-child > a:focus {
    border-radius: 0 0 3px 3px;
}

nav#short-cuts h5 {
    color: #2E8B57;
    font-weight: bold;
    margin-bottom: 3px;
    padding-bottom: 4px;
    border-bottom: 1px solid #e2e2e2;
    font-variant: small-caps;
}

nav#short-cuts ul li {
    margin-bottom: 1px;
}

nav#short-cuts ul li a {
    display: block;
    padding: 5px 0;
    margin-left: 18px;
    text-decoration: none;
}

nav#short-cuts ul li:hover,
nav#short-cuts ul li.active {
    background-color: #EFEEE5;
}

ul.about li:not(:last-child),
ul.profile li:not(:last-child),
ul.notifications li:not(:last-child),
ul.account-settings li:not(:last-child) {
    border-bottom: 1px dotted #8FBC8F;
    padding-bottom: 2px;
    margin-bottom: 3px;
}

div.active-users div.media {
    border-radius: 3px;
    margin-top: 0;
    padding: 5px;
}

div.active-users div:hover {
    background-color: #8FBC8F;
}

div.active-users div:hover a {
    color: #fff;
}

div.likes img.media-object,
div.shares img.media-object,
div.replies img.media-object,
div.members img.media-object,
div.friends img.media-object,
div.comments img.media-object,
div.followers img.media-object,
div.following img.media-object,
div.chat-friends img.media-object,
div.birthday-messages img.media-object {
    height: 50px;  /* Always match height for div.media-body */
    width: 50px;
}

div.active-users img.media-object {
    height: 42.9px;  /* Always match height for div.media-body */
    width: 42.9px;
}

div.active-users img.media-object {
    border-radius: 50%;
}

.btn:not(.btn-default),
.btn:not(.btn-default):hover,
.btn:not(.btn-default):active,
.btn:not(.btn-default):focus {
    background-color: #2E8B57;
    border-color: #2E8B57;
    color: #fff;
}

div.media-body h4 {
    font-size: 14px;
}

div#primary-user h4.media-heading,
div.active-users h4.media-heading {
    margin-top: 5px;
}

div.likes h4.media-heading,
div.shares h4.media-heading,
article h4.media-heading {
    margin-bottom: -2px;
}

img.media-object {
    width: 45px;
    height: 45px;
}

div#primary-user img.media-object {
    border-radius: 3px;
}

div#secondary-user img {
    height: 75px;
    width: 75px;
}

div#secondary-user h4 {
    font-size: 1.5em;
    margin-top: 0;
    text-transform: uppercase;
}

div#secondary-user h4 a {
    text-decoration: none;
}

div#secondary-user nav {
    margin-top: 5px;
    background-color: #8FBC8F;
    border-radius: 0 3px 0 3px;
}

small.time {
    display: inline-block;
}

div.suggestions > h4 {
    border-bottom: 1px solid #8FBC8F;
    padding-bottom: 3px;
    margin-top: 8px;
}

.navbar-right .badge {
    background-color: #f00;
}

.navbar-right .badge {
    padding: 2px 5px;
}

footer.footer {
    border-top: 2px solid #f00;
    background-color: #2E8B57;
    padding: 5px 2%;
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0;
}

p#site-copyright {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
}

div.main-content {
    border-radius: 3px;
    float: right;
    width: 69%;
}

div.side-content {
    float: left;
    width: 30%;
}

div.side-content > div,
div.side-content > nav {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 4px #2E8B57;
}

div.box {
    box-shadow: 0 0 4px #2E8B57;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 5px;
    line-height: 2em;
    padding: 8px;
}

div.box:last-child {
    margin-bottom: 0;
}

div.box > h4 {
    border-bottom: 1px solid #8FBC8F;
    padding-bottom: 3px;
    margin-bottom: 5px;
    margin-top: 3px;
}

div.wrapper-md legend {
    border-bottom: 1px solid #8FBC8F;
    padding-bottom: 5px;
}

div.show-profile h4 {
    font-weight: bold;
    color: #2E8B57;
}

div.show-profile ul.profile > span {
    background-color: #8FBC8F;
    border-radius: 3px;
    display: block;
    padding: 0 5px;
}

ul.profile {
    margin-bottom: 15px;
}

div.show-profile ul:last-child {
    margin-bottom: 0;
}

article.link header,
article.post header,
article.photo header,
article.video header {
    border-bottom: 1px solid #8FBC8F;
    padding-bottom: 2px;
}

article.video .embed-responsive {
    background-color: #000;
}

article.message {
    margin-top: 5px;
}

article.message h4 .time {
    margin-left: 5px;
}

p.reply,
p.comment,
article.message p,
p.birthday-message,
ul.notifications li a {
    display: inline;
    margin-bottom: 0;
}

ul.notifications li a {
    margin: 0 5px 0 0;
}

strong.object {
    color: #2E8B57;
}

ul.notifications li a {
    color: #000;
    text-decoration: none;
}

article.photo > img,
div#add-description > img {
    max-width: 100%;
    width: 100%;
    border: 1px solid rgba(143, 188, 143, .2);
}
div#add-description > img,
div#add-description > .panel,
div#add-description > .embed-responsive {
    margin-bottom: 5px;
}

article header {
    margin-bottom: 2px;
}

article header a {
    font-weight: bold;
}

article header a:hover {
    text-decoration: none;
}

article.photo p {
    margin-bottom: 5px;
}

article p a.more {
    display: inline-block;
}

article footer ul {
    border-top: 1px solid #8FBC8F;
    margin-top: 5px;
}

article footer > ul > li {
    display: inline;
}

article footer > ul > li > a {
    text-decoration: none;
    display: inline-block;
}

article footer > ul > li > a:hover {
    text-decoration: none;
    color: #2E8B57;
}

article footer > ul > li > span {
    display: inline-block;
    margin: 0 5px;
}
article footer .dropdown-menu {
    min-width: 100px;
    border-radius: 0;
    font-size: inherit;
}

article footer .dropdown-menu > li:not(:last-child) {
    border-bottom: 1px solid #e2e2e2;
}
article footer .dropdown-menu > li > a {
	padding: 2px 10px;
}
article footer .dropdown-menu > li > a:hover {
	background-color: #8FBC8F;
}

form label {
    display: block;
    margin-bottom: 0;
}

form div.input-group div label {
    font-weight: normal;
}

form div.input-group {
    margin-bottom: 10px;
}

form div.input-group p {
    margin-bottom: 0;
}

form div.input-group div {
    display: inline-block;
}

form textarea,
form input[type="url"],
form input[type="text"],
form input[type="email"],
form input[type="search"],
form input[type="password"] {
    border-radius: 1px 1px 3px 3px;
    border: 1px solid #8FBC8F;
    border-top: 2px solid #2E8B57;
    background-color: #8FBC8F;
    font-weight: bold;
    padding: 1px 5px;
    width: 60%;
    color: #fff;
}

form textarea {
    resize: none;
}

form input[type="file"] {
    background-color: #fff;
    border-radius: 0;
    border: none;
    padding: 0;
    margin-top: 5px;
}

.fluid {
    width: 100% !important;
}

form .has-error {
    border: 1px solid #EBCCD1 !important;
    border-top: 2px solid rgba(255,0,0,.3) !important;
    background-color: #F2DEDE !important;
    color: #A94442 !important;
}

span.error {
    display: block;
    color: #A94442;
}

span.logged-in {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
}

.alert {
    border-radius: 3px;
    margin-bottom: 0;
}

form input:focus,
form select:focus,
form textarea:focus {
    background-color: #fff;
    font-weight: normal;
    color: #000;
}

div.form-group {
    margin-bottom: 5px;
}

fieldset > p,
div.input-group p {
    font-weight: bold;
}

span.help-block {
    margin-top: 0;
    margin-bottom: 5px;
}

p.post {
    line-height: normal;
    font-family: sans-serif;
}

p.post a.more {
    display: inline-block;
}

div.more a,
a.previous {
    display: block;
    font-variant: small-caps;
}

a.previous {
    padding: 2px;
    margin: -5px 0 2px 0;
    border-bottom: 1px solid #e2e2e2;
}

div#comment {
    margin-bottom: 2.5px;
}

div#reply h4.media-heading,
div.replies h4.media-heading,
div#comment h4.media-heading,
div.comments h4.media-heading,
div#birthday-message h4.media-heading,
div.birthday-messages h4.media-heading {
    display: inline-block;
    margin-right: 5px;
}

div#reply div.media-body > span,
div.replies div.media-body > span,
div#comment div.media-body > span,
div.comments div.media-body > span,
div#birthday-message div.media-body > span,
div.birthday-messages div.media-body > span {
    display: block;
    margin: -5px 0;
}

div#reply div.media-body > span a,
div.replies div.media-body > span a,
div#comment div.media-body > span a,
div.comments div.media-body > span a,
div#birthday-message div.media-body > span a,
div.birthday-messages div.media-body > span a {
    display: inline-block;
}

div#reply img.media-object,
div#comment img.media-object,
div#birthday-message img.media-object {
    height: 49.4px;  /* Always the same as the height of media-body */
}

.link-panel {
    line-height: normal;
    border-radius: 2px;
    font-family: sans-serif;
}
.link-panel .panel-body {
    padding: 0;
}
.link-image {
    width: 100%;
    max-height: 250px;
}
.link-panel .panel-footer a {
    color: #000;
    display: block;
    text-decoration: none;
    outline: none;
}
.link-title,
.link-site {
    display: block;
    padding: 3px 0;
}
.link-title {
    line-height: 1.3;
    margin-bottom: 3px;
}
.link-site {
    font-size: .8em;
    text-transform: uppercase;
}



/*** Make these divs stick to their positions ***/
div.side-content {
    position: fixed;
    width: 15.222585%;  /* (((30 / 100) *69.5) / 100) * 74.5) / 100) * 98 */
}

.wrapper-lg .col-small {
    position: fixed;
    width: 24.5%;  /* (25 /100) * 98 */
    right: 1%;
}

.wrapper-lg .col-large .suggestions {
    position: fixed;
    width: 21.903%; /* ((30 / 100) * 74.5) / 100) * 98 */
    right: 26%;
}

@media (max-width: 380px) {
    .wrapper-md input[type="text"],
    .wrapper-md input[type="email"],
    .wrapper-md input[type="password"] {
        width: 100% !important;
    }
}

@media (max-width: 480px) {
    html {
        height: auto;
    }

    body {
        font-size: 1.3em;
        margin-bottom: 37px;
    }

    form input[type="text"],
    form input[type="email"],
    form input[type="password"] {
        width: 100% !important;
    }

    .wrapper-lg .col-large {
        float: none;
        width: 100% !important;
    }

    .wrapper-lg .col-small,
    .wrapper-lg .col-large .suggestions {
        display: none;
    }

    .wrapper-lg div.col-large div.user-home div.side-content,
    .wrapper-lg div.col-large div.group-home div.side-content {
        display: block;
        width: 100%;
        float: none;
        margin-bottom: 5px;
        position: static;
    }

    .wrapper-lg .col-large .main-content,
    .wrapper-lg .col-large .main {
        float: none;
        width: 100%;
    }

    .wrapper-md {
        width: auto;
        margin: 0 2%;
    }

    div.box {
        padding: 5px;
    }

    .nav.nav-tabs > li > a {
        padding: 5px 10px;
    }

    div.col-xs-6:last-child {
        margin-bottom: 0;
    }

    div.col-xs-6 {
        width: 100%;
    }

    div#secondary-user img {
        height: 50px;
        width: 50px;
    }

    div#secondary-user h4 {
        font-size: 1.1em;
        margin-bottom: 0;
    }

    div.likes img.media-object,
    div.shares img.media-object,
    div.replies img.media-object,
    div.members img.media-object,
    div.friends img.media-object,
    div.comments img.media-object,
    div.followers img.media-object,
    div.following img.media-object,
    div.chat-friends img.media-object,
    div.birthday-messages img.media-object {
        height: 40px;  /* Always match height for div.media-body */
        width: 38px;
    }

    footer.footer {
        height: auto;
    }

    p#site-copyright {
        display: block;
        text-align: center;
        margin-bottom: 3px;
    }
    p#site-copyright + span {
        display: none;
    }

    article footer ul li a {
        width: auto;
    }

    article footer .comment,
    article footer .share {
        text-align: left;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    body {
        margin-bottom: 60px;
    }

    .hidden-xs {
        display: block !important;
    }

    li.hidden-sm {
        display: none;
    }

    .wrapper-lg .col-large {
        width: 100%;
    }

    div.side-content {
        position: static;
        width: 30%;
    }

    .wrapper-lg .col-small,
    .wrapper-lg .col-large .suggestions {
        display: none;
    }

    .wrapper-lg .col-large .main {
        width: 100%;
    }

    .wrapper-md {
        width: 60%;
        margin: auto;
    }

    div#secondary-user h4 {
        margin-bottom: 5px;
    }

    article footer > ul > li > a {
        width: auto;
    }

    footer.footer {
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 971px) {
    div.suggestions h4 {
        margin-top: 5px;
        padding-bottom: 5px;
    }

    .wrapper-lg .col-large {
        width: 100%;
    }

    div.side-content {
        position: static;
        width: 30%;
    }

    .wrapper-lg .col-large .suggestions {
        position: static;
        width: 30%;
    }

    div.col-small {
        display: none;
    }
}

/* Chat sidebar */
.chat {
    border-radius: 3px;
    border: 1px solid #8FBC8F;
}
.chat .receiver {
    background-color: #8FBC8F;
    padding: 5px;
    color: #fff;
    position: relative;
    border-bottom: 2px solid #2E8B57;
}

.chat .receiver a {
    color: #fff;
}

.chat .refresh-chat {
    position: absolute;
    top: 15px;
    right: 15px;
}
.chat img {
    border-radius: 50%;
}
.chat table td:first-child {
    width: 90%;
    padding-right: 5px
}
.chat input.fluid {
    height: 30px;
}

.chat-content {
    max-height: 280px;
    overflow-y: auto;
}
.chat-content img {
    width: 35px;
    height: 35px;
}
.chat-content p {
    padding: 5px;
    margin-bottom: 0;
    border-radius: 5px;
    border: 1px solid green;
}
.chat-content .message {
    padding: 5px;
}
.chat-content .message.sent p {
    margin-right: 45px;
}
.chat-content .message.received p,
.chat-content .message.received small {
    margin-left: 45px;
}
.new-message {
    margin: 5px;
}
.back-btn {
    margin-top: 5px;
}
