html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #8FBC8F;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 35px;
    padding-top: 60px;
}

h3 {
    margin-top: 10px;
}

h5 {
    font-weight: bold;
}

br + br {
    display: block;
    margin: 5px 0;
}

p {
    margin-bottom: 5px;
}

.text {
    font-family: 'Roboto', sans-serif;
}
p.text {
    text-align: justify;
}

.profile-pic-xs {
    width: 35px;
    height: 35px;
}
.profile-pic-sm {
    width: 45px;
    height: 45px;
}
.profile-pic-md {
    width: 50px;
    height: 50px;
}
.profile-pic-lg {
    width: 75px;
    height: 75px;
}

.navbar-fixed-top {
    border-bottom: 2px solid #f00;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:active {
    background-color: #2E8B57 !important;
    color: #000 !important;
}

.media-footer {
    line-height: 2;
}

 /* Override bootstrap's styles.*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border: 1px solid #8FBC8F;
}

.nav-tabs + .panel {
    border-radius: 0 0 4px;
}

.alert {
    border-radius: 3px;
    margin-bottom: 0;
    padding: 15px 10px;
}
.alert .fa {
    float: left;
    margin-top: 3px;
}
.alert p,
.alert form {
    margin-left: 20px;
}
.alert form {
    margin-top: 5px;
}

.panel {
    margin-bottom: 0;
}
.panel-heading,
.panel-body,
.panel-footer {
    padding: 5px;
}

.list-group {
    margin-bottom: 0;
}

.menu .list-group {
    margin-bottom: 5px;
}
.list-group-item {
    padding: 5px 10px;
}
/* End override */

#update-status form label {
    margin: 10px 0;
}
#update-status input[type="file"] {
    margin-bottom: 10px;
}
#update-status .alert {
    margin-top: 5px;
}

.table {
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: #2E8B57;
    outline-style: none;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #2E8B57;
}

.wrapper-md {
    margin: auto;
    width: 40%;
}

.wrapper-md input[type="text"],
.wrapper-md input[type="email"],
.wrapper-md input[type="password"] {
    width: 70% !important;
}

.wrapper-lg {
    box-sizing: border-box;
    margin: 0 1%;
    padding: 0;
}

.wrapper-lg .col-large {
    width: 74.5%;
    float: left;
}

.wrapper-lg .col-large .main {
    width: 69.5%;
    float: left;
}

.wrapper-lg .col-large .suggestions {
    box-shadow: 0 0 4px #2E8B57;
    background-color: #fff;
    border-radius: 3px;
    float: right;
    padding: 5px;
    width: 30%;
}

.wrapper-lg .col-small {
    box-shadow: 0 0 4px #2E8B57;
    background-color: #fff;
    border-radius: 3px;
    padding: 5px;
    float: right;
    width: 25%;
}

.media {
    margin: 0 0 2px 0;
    line-height: normal;
}

.separated {
    border-bottom: 1px dotted #8FBC8F;
    padding-bottom: 2px;
}
.separated:last-child {
    padding-bottom: 0;
    border: none;
}

.media:last-child {
    margin-bottom: 0 !important;
    border: none !important;
}

#secondary-user {
    border: 1px dashed #2E8B57;
}

#secondary-user .profile-pic-lg {
    border-radius: 50%;
}

#secondary-user ul li {
    margin-right: -5px;
    display: inline;
}

#secondary-user ul li a {
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    padding: 5px;
    color: #000;
}

#secondary-user ul li a.active {
    border-bottom: 5px solid #2E8B57;
    padding-bottom: 0px;
}

#primary-user {
    margin: 0;
}

#primary-user .profile-pic-xs {
    border-radius: 3px;
}

#primary-user .media-heading a,
.active-users .media-heading a,
.suggested-users .media-heading a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
}

#primary-user .media-heading a {
    color: #2E8B57;
    font-weight: bold;
}

#primary-user a:hover {
    text-decoration: none;
}

.user-nav {
    margin-top: 5px;
}
.user-nav a {
    text-decoration: none;
}
.user-nav .active {
    background-color: #2E8B57;
}
.user-nav ul {
    background-color: #8FBC8F;
    border-radius: 3px;
}
.user-nav ul li {
    border-bottom: 1px solid #fff;
}
.user-nav li a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 5px;
    color: #000;
}
.user-nav li a:hover,
.user-nav li a:focus {
    background-color: #2E8B57;
}
.user-nav > ul > li:first-child > a:hover,
.user-nav > ul > li:first-child > a:focus {
    border-radius: 3px 3px 0 0;
}
.user-nav > ul > li:last-child > a:hover,
.user-nav > ul > li:last-child > a:focus {
    border-radius: 0 0 3px 3px;
}

#short-cuts h5 {
    color: #2E8B57;
    font-weight: bold;
    margin-bottom: 3px;
    padding-bottom: 4px;
    border-bottom: 1px solid #e2e2e2;
    font-variant: small-caps;
}
#short-cuts ul li {
    margin-bottom: 1px;
}
#short-cuts ul li a {
    display: block;
    padding: 5px 0;
    margin-left: 18px;
    text-decoration: none;
}
#short-cuts ul li:hover,
#short-cuts ul li.active {
    background-color: #EFEEE5;
}

ul.about li:not(:last-child),
ul.profile li:not(:last-child),
ul.notifications li:not(:last-child) {
    border-bottom: 1px dotted #8FBC8F;
    padding-bottom: 2px;
    margin-bottom: 3px;
}

.active-users .media {
    border-radius: 3px;
    margin-top: 0;
    padding: 5px;
}
.active-users div:hover {
    background-color: #8FBC8F;
}
.active-users div:hover a {
    color: #fff;
}
.active-users img {
    border-radius: 50%;
}

.btn:not(.btn-default),
.btn:not(.btn-default):hover,
.btn:not(.btn-default):active,
.btn:not(.btn-default):focus {
    background-color: #2E8B57;
    border-color: #2E8B57;
    color: #fff;
}

.media-body h4 {
    font-size: 14px;
}

#primary-user h4.media-heading,
.active-users h4.media-heading {
    margin-top: 5px;
}

#secondary-user h4 {
    font-size: 1.5em;
    text-transform: uppercase;
}

#secondary-user h4 a {
    text-decoration: none;
}

#secondary-user nav {
    margin-top: 5px;
    background-color: #8FBC8F;
    border-radius: 0 3px 0 3px;
}

.time {
    display: inline-block;
}

.suggestions > h4 {
    border-bottom: 1px solid #8FBC8F;
    padding-bottom: 3px;
    margin-top: 8px;
}

.mobile-nav a,
.navbar-right a {
    display: inline-block;
    position: relative;
}

.mobile-nav .badge,
.navbar-right .badge {
    padding: 2px 5px;
    position: absolute;
    background-color: #f00;
}

.navbar-right .badge {
    top: 8px;
    right: 5px;
}

.site-footer {
    border-top: 2px solid #f00;
    background-color: #2E8B57;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.site-footer p {
    padding: 5px 0;
    margin-bottom: 0;
}

#site-copyright {
    text-align: center;
}

.main-content {
    border-radius: 3px;
    float: right;
    width: 69%;
}

.side-content {
    float: left;
    width: 30%;
}

.side-content > div,
.side-content > nav {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 4px #2E8B57;
}

.box {
    box-shadow: 0 0 4px #2E8B57;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 5px;
    padding: 8px;
}
.box:last-child {
    margin-bottom: 0;
}
.box > h4 {
    border-bottom: 1px solid #8FBC8F;
    padding-bottom: 3px;
    margin-bottom: 5px;
    margin-top: 3px;
}

.wrapper-md legend {
    border-bottom: 1px solid #8FBC8F;
    padding-bottom: 5px;
}

.profile a {
    display: inline-block;
}
.profile .title {
    font-weight: bold;
    border-bottom: 1px solid #8FBC8F;
}
.profile .title span {
    width: 30%;
    padding: 4px 2px;
    display: inline-block;
    background-color: #8FBC8F;
}
.profile td:first-child {
    width: 30%;
}

article.link header,
article.post header,
article.photo header,
article.video header {
    border-bottom: 1px solid #8FBC8F;
    padding-bottom: 2px;
}

article.video .embed-responsive {
    background-color: #000;
}

article.message {
    margin-top: 5px;
}

p.reply,
p.comment,
p.birthday-message {
    display: inline;
}

strong.object {
    color: #2E8B57;
}

ul.notifications li a {
    color: #000;
    display: block;
    text-decoration: none;
}

article.photo > img,
#add-description > img {
    max-width: 100%;
    width: 100%;
    border: 1px solid rgba(143, 188, 143, .2);
}
#add-description > img,
#add-description > .panel,
#add-description > .embed-responsive {
    margin-bottom: 5px;
}

article header {
    margin-bottom: 2px;
}

article header a {
    font-weight: bold;
}

article header a:hover {
    text-decoration: none;
}

article p a.more {
    display: inline-block;
}

article footer ul {
    border-top: 1px solid #8FBC8F;
    margin-top: 5px;
}

article footer > ul > li {
    display: inline;
}

article footer > ul > li > a {
    text-decoration: none;
    display: inline-block;
}

article footer > ul > li > a:hover {
    text-decoration: none;
    color: #2E8B57;
}

article footer > ul > li > span {
    display: inline-block;
    margin: 0 5px;
}
article footer .dropdown-menu {
    min-width: 100px;
    border-radius: 0;
    font-size: inherit;
}

article footer .dropdown-menu > li:not(:last-child) {
    border-bottom: 1px solid #e2e2e2;
}
article footer .dropdown-menu > li > a {
	padding: 2px 10px;
}
article footer .dropdown-menu > li > a:hover {
	background-color: #8FBC8F;
}

form label {
    display: block;
    margin-bottom: 0;
}

.input-group {
    margin-bottom: 10px;
}
.input-group label {
    font-weight: normal;
}
.input-group p {
    margin-bottom: 0;
}
.input-group div {
    display: inline-block;
}

textarea,
input[type="url"],
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
    border-radius: 1px 1px 3px 3px;
    border: 1px solid #8FBC8F;
    border-top: 2px solid #2E8B57;
    background-color: #8FBC8F;
    font-weight: bold;
    padding: 1px 5px;
    width: 60%;
    color: #fff;
    line-height: 2;
}
textarea {
    resize: none;
}
input[type="file"] {
    background-color: #fff;
    border-radius: 0;
    border: none;
    padding: 0;
    margin-top: 5px;
}

.fluid {
    width: 100% !important;
}

.has-error {
    border: 1px solid #EBCCD1 !important;
    border-top: 2px solid rgba(255,0,0,.3) !important;
    background-color: #F2DEDE !important;
    color: #A94442 !important;
}

.error {
    display: block;
    color: #A94442;
}

.logged-in {
    width: 10px;
    height: 10px;
    margin-left: 5px;
    display: inline-block;
    border: 1px solid #000;
}

input:focus,
select:focus,
textarea:focus {
    background-color: #fff;
    font-weight: normal;
    color: #000;
}

.form-group {
    margin-bottom: 5px;
}

fieldset > p,
.input-group p {
    font-weight: bold;
}

.help-block {
    margin-top: 0;
    margin-bottom: 5px;
}

p.post a.more {
    display: inline-block;
}

.more a,
.previous {
    display: block;
    font-variant: small-caps;
}
.previous {
    padding: 2px;
    margin: -5px 0 2px 0;
    border-bottom: 1px solid #e2e2e2;
}

#comment {
    margin-bottom: 2.5px;
}

#reply .media-heading,
.replies .media-heading,
#comment .media-heading,
.comments .media-heading,
#birthday-message .media-heading,
.birthday-messages .media-heading {
    display: inline-block;
    margin-right: 5px;
}

#reply .media-body > span,
.replies .media-body > span,
#comment .media-body > span,
.comments .media-body > span,
#birthday-message .media-body > span,
.birthday-messages .media-body > span {
    display: block;
}

#reply .media-body > span a,
.replies .media-body > span a,
#comment .media-body > span a,
.comments .media-body > span a,
#birthday-message .media-body > span a,
.birthday-messages .media-body > span a {
    display: inline-block;
}

.link-panel {
    border-radius: 2px;
}
.link-panel .panel-body {
    padding: 0;
}
.link-image {
    width: 100%;
    max-height: 250px;
}
.link-panel .panel-footer a {
    color: #000;
    display: block;
    text-decoration: none;
    outline: none;
}
.link-title,
.link-site {
    display: block;
    padding: 3px 0;
}
.link-title {
    margin-bottom: 3px;
}
.link-site {
    font-size: .8em;
    text-transform: uppercase;
}

.loading {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.loading div {
    display: table-cell;
    text-align: center;
    color: #2E8B57;
    width: 100%;
}
.loading img {
    width: 25px;
    height: 25px;
}



/*** Make these divs stick to their positions ***/
.side-content {
    position: fixed;
    width: 15.222585%;  /* (((30 / 100) *69.5) / 100) * 74.5) / 100) * 98 */
}

.wrapper-lg .col-small {
    position: fixed;
    width: 24.5%;  /* (25 /100) * 98 */
    right: 1%;
}

.wrapper-lg .col-large .suggestions {
    position: fixed;
    width: 21.903%; /* ((30 / 100) * 74.5) / 100) * 98 */
    right: 26%;
}

/*** Chat ***/
.chat {
    border-radius: 3px;
    border: 1px solid #8FBC8F;
}
.chat .receiver {
    background-color: #8FBC8F;
    padding: 5px;
    color: #fff;
    position: relative;
    border-bottom: 2px solid #2E8B57;
}
.chat .receiver a {
    color: #fff;
}

.refresh-chat {
    display: inline-block;
    position: absolute; top: 13px; right: 15px;
    padding: 2px; width: 30px; height: 30px; border-radius: 50%;
}
.refresh-chat .fa {
    position: absolute;
    top: 8px; left: 9px;
}
.refresh-chat:hover {
    background-color: #2E8B57;
}

.chat img {
    border-radius: 50%;
}
.chat table td:first-child {
    width: 90%;
    padding-right: 5px
}
.chat input.fluid {
    height: 30px;
}
.chat-content p {
    padding: 5px;
    margin-bottom: 0;
    border-radius: 5px;
    border: 1px solid green;
}
.chat-content .message {
    padding: 5px;
}
.chat-content .message.sent p {
    margin-right: 45px;
}
.chat-content .message.received p,
.chat-content .message.received small {
    margin-left: 45px;
}

.new-message {
    margin: 5px;
}
.back-btn {
    margin-top: 5px;
}

@media (max-width: 380px) {
    .wrapper-md input[type="text"],
    .wrapper-md input[type="email"],
    .wrapper-md input[type="password"] {
        width: 100% !important;
    }
}

@media (max-width: 480px) {
    html {
        height: auto;
    }

    body {
        font-size: 1.3em;
        margin-bottom: 37px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100% !important;
    }

    .wrapper-lg .col-large {
        float: none;
        width: 100% !important;
    }

    .wrapper-lg .col-small,
    .wrapper-lg .col-large .suggestions {
        display: none;
    }

    .wrapper-lg .col-large .main-content,
    .wrapper-lg .col-large .main {
        float: none;
        width: 100%;
    }

    .side-content {
        display: none;
    }
    .side-content.menu {
        display: block;
        width: 100%;
        float: none;
        margin-bottom: 5px;
        position: static;
    }

    .wrapper-md {
        width: auto;
        margin: 0 2%;
    }

    .box {
        padding: 5px;
    }

    .nav.nav-tabs > li > a {
        padding: 5px 10px;
    }

    .col-xs-6:last-child {
        margin-bottom: 0;
    }

    .col-xs-6 {
        width: 100%;
    }

    .profile-pic-lg {
        width: 50px;
        height: 50px;
    }
    .profile-pic-md {
        width: 45px;
        height: 45px;
    }
    .profile-pic-sm {
        width: 35px;
        height: 35px;
    }

    #secondary-user h4 {
        font-size: 1.1em;
        margin-bottom: 0;
    }

    article.post p,
    article.link p,
    article.video p,
    article.photo p {
        line-height: 1.3;
    }

    .site-footer {
        height: auto;
    }

    #site-copyright {
        display: block;
        text-align: center;
        margin-bottom: 3px;
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 40px;
    }

    .mobile-nav {
        position: fixed;
        top: 0;
        z-index: 4000;
        background-color: #000;
	    border-bottom: 2px solid #f00;
    }
    .mobile-nav .btn {
        background-color: #000;
        color: #fff;
        border-color: #000;
        border-radius: 0;
    }
    .mobile-nav .btn:hover {
        border-color: #8FBC8F;
        background-color: #8FBC8F;
    }
    .mobile-nav .btn.active {
        background-color: #2E8B57;
        color: #fff;
        border-color: #2E8B57;
    }

    header .navbar {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    body {
        margin-bottom: 35px;
    }

    .hidden-xs {
        display: block !important;
    }

    .wrapper-lg .col-large {
        width: 100%;
    }

    .side-content {
        position: static;
        width: 30%;
    }

    .wrapper-lg .col-small,
    .wrapper-lg .col-large .suggestions {
        display: none;
    }

    .wrapper-lg .col-large .main {
        width: 100%;
    }

    .wrapper-md {
        width: 60%;
        margin: auto;
    }

    #secondary-user h4 {
        margin-bottom: 5px;
    }

    .site-footer {
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 971px) {
    .suggestions h4 {
        margin-top: 5px;
        padding-bottom: 5px;
    }

    .wrapper-lg .col-large {
        width: 100%;
    }

    .side-content {
        position: static;
        width: 30%;
    }

    .wrapper-lg .col-large .suggestions {
        position: static;
        width: 30%;
    }

    .col-small {
        display: none;
    }
}

@media (min-width: 971px) {
    .chat-content {
        max-height: 280px;
        overflow-y: auto;
    }
}
