html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #8FBC8F;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 35px;
    padding-top: 60px;
}

h3 {
    margin-top: 10px;
}

h5 {
    font-weight: bold;
}

.navbar-fixed-top {
    border-bottom: 2px solid #f00;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:active {
    background-color: #2E8B57 !important;
    color: #000 !important;
}

 /* Override bootstrap's styles.*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border: 1px solid #8FBC8F;
}
.panel {
    margin-bottom: 0;
}
/* End override */

.table {
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: #2E8B57;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #2E8B57;
}

.wrap-single {
    margin: auto;
    width: 25%;
}

.wrapper {
    box-sizing: border-box;
    margin: 0 2%;
    padding: 0;
}

.wrapper .col-large {
    width: 80.5%;
    float: left;
}

.wrapper .col-large .main {
    width: 69.5%;
    float: left;
}

.wrapper .col-large .suggestions {
    box-shadow: 0 0 4px #2E8B57;
    background-color: #fff;
    border-radius: 3px;
    float: right;
    padding: 5px;
    width: 30%;
}

.wrapper .col-small {
    box-shadow: 0 0 4px #2E8B57;
    background-color: #fff;
    border-radius: 3px;
    padding: 5px;
    float: right;
    width: 19%;
}

.profile-pic {
    border-radius: 3px;
    height: 50px;
    width: 50px;
}

div.media {
    margin: 0 0 2px 0;
}

div.likes div.media,
div.shares div.media,
div.replies div.media,
div.friends div.media,
div.comments div.media,
div.messages article.media,
div.chat-friends div.media,
div.suggested-users div.media,
div.birthday-messages div.media {
    border-bottom: 1px dotted #8FBC8F;
    padding-bottom: 2px;
}

div.media:last-child,
article.media:last-child {
    margin-bottom: 0 !important;
    border: none !important;
}

div#secondary-user ul li {
    margin-right: -5px;
    display: inline;
}

div#secondary-user ul li a {
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    padding: 5px;
    color: #000;
}
div#secondary-user ul li:first-child a {
    padding: 5px 5px 5px 0;
}

div#secondary-user ul li a.active {
    border-bottom: 5px solid #2E8B57;
    padding-bottom: 0px;
}

nav.user-nav ul li a.active {
    background-color: #2E8B57;
}

div#primary-user {
    margin-bottom: 5px;
}

div#primary-user h4.media-heading a {
    color: #2E8B57;
    font-weight: bold;
}

div#primary-user a:hover {
    text-decoration: none;
}

.gallery {
    margin: 0 -20px;
}

.gallery div {
    padding: 0 5px;
    margin-top: 10px;
}

.gallery img {
    width: 100%;
    height: 100px;
}

nav.user-nav ul {
    background-color: #8FBC8F;
    border-radius: 3px;
}

nav.user-nav ul li {
    border-bottom: 1px solid #fff;
}

nav.user-nav li a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 5px;
    color: #000;
}

nav.user-nav li a:hover,
nav.user-nav li a:focus {
    background-color: #2E8B57;
}

nav.user-nav > ul > li:first-child > a:hover,
nav.user-nav > ul > li:first-child > a:focus {
    border-radius: 3px 3px 0 0;
}

nav.user-nav > ul > li:last-child > a:hover,
nav.user-nav > ul > li:last-child > a:focus {
    border-radius: 0 0 3px 3px;
}

nav#short-cuts h5 {
    color: #2E8B57;
    font-weight: bold;
    margin-bottom: 3px;
    padding-bottom: 4px;
    border-bottom: 1px solid #EFEEE5;
}

nav#short-cuts ul li {
    margin-bottom: 1px;
}

nav#short-cuts ul li a {
    display: block;
    padding: 5px 0;
    margin-left: 18px;
    text-decoration: none;
}

nav#short-cuts ul li:hover,
nav#short-cuts ul li.active {
    background-color: #EFEEE5;
}

ul.about li,
ul.profile li,
ul.notifications li,
ul.account-settings li {
    border-bottom: 1px dotted #8FBC8F;
    padding-bottom: 2px;
    margin-bottom: 3px;
}

ul.about li:last-child,
ul.profile li:last-child,
ul.notifications li:last-child,
ul.account-settings li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

div.active-users div.media {
    border-radius: 3px;
    margin-top: 0;
    padding: 5px;
}

div.active-users div:hover {
    background-color: #8FBC8F;
}

div.active-users div:hover a {
    color: #fff;
}

div.likes img.media-object,
div.shares img.media-object,
div.replies img.media-object,
div.members img.media-object,
div.friends img.media-object,
div.comments img.media-object,
div.followers img.media-object,
div.following img.media-object,
div.active-users img.media-object,
div.chat-friends img.media-object,
div.birthday-messages img.media-object {
    height: 42.9px;  /* Always match height for div.media-body */
    width: 40px;
}

div.active-users img.media-object {
    border-radius: 50%;
}

.btn:not(.btn-default),
.btn:not(.btn-default):hover,
.btn:not(.btn-default):active,
.btn:not(.btn-default):focus {
    background-color: #2E8B57;
    border-color: #2E8B57;
    color: #fff;
}

div.media-body h4 {
    font-size: 14px;
}

div#primary-user h4.media-heading,
div.active-users h4.media-heading {
    margin-top: 5px;
}

div.likes h4.media-heading,
div.shares h4.media-heading,
div.replies h4.media-heading,
div.comments h4.media-heading,
article h4.media-heading,
div.birthday-messages h4.media-heading {
    margin-bottom: -2px;
}

img.media-object {
    width: 45px;
    height: 45px;
}

div#primary-user img.media-object {
    border-radius: 3px;
}

div#secondary-user div {
    position: relative;
    margin-bottom: 10px;
}

div#secondary-user img {
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 1000;
    height: 75px;
    width: 75px;
    border-radius: 3px;
}

div#secondary-user h4 {
    margin-left: 85px;
    display: inline-block;
    font-weight: bold;
    margin-top: 0;
}

div#secondary-user h4 a {
    text-decoration: none;
}

div#secondary-user .btn {
    margin-left: 20px;
}
div#secondary-user a.btn {
    margin-left: 5px;
}

div#secondary-user nav {
        background-color: #8FBC8F;
        border-radius: 0 3px 0 3px;
}
div#secondary-user nav ul {
    margin-left: 85px;
}

small.time {
    display: inline-block;
}

div.suggestions > h4 {
    border-bottom: 1px solid #8FBC8F;
    padding-bottom: 3px;
    margin-top: 8px;
}

.badge {
    background-color: #f00;
}

.navbar-right .badge {
    padding: 2px 5px;
}

footer.footer {
    border-top: 2px solid #f00;
    background-color: #2E8B57;
    padding: 2px 0 5px 0;
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0;
}

footer.footer a {
    text-decoration: underline;
    color: #fff;
}

nav#user-nav-mobile {
    display: none;
}

nav#user-nav-mobile {
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 5px 0;
}

nav#user-nav-mobile ul li {
    display: inline;
    width: auto;
}

div.main-content {
    border-radius: 3px;
    float: right;
    width: 69%;
}

div.side-content {
    float: left;
    width: 30%;
}

div.side-content > div,
div.side-content > nav {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 4px #2E8B57;
}

div.box {
    box-shadow: 0 0 4px #2E8B57;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 5px;
    line-height: 2em;
    padding: 10px;
}

div.box:last-child {
    margin-bottom: 0;
}

div.box > h4 {
    border-bottom: 1px solid #8FBC8F;
    padding-bottom: 3px;
    margin-bottom: 5px;
    margin-top: 3px;
}

div.wrap-single legend {
    border-bottom: 1px solid #8FBC8F;
    padding-bottom: 5px;
}

div.show-profile h4 {
    font-weight: bold;
    color: #2E8B57;
}

div.show-profile ul.profile > span {
    background-color: #8FBC8F;
    border-radius: 3px;
    display: block;
    padding: 0 5px;
}

ul.profile {
    margin-bottom: 15px;
}

div.show-profile ul:last-child {
    margin-bottom: 0;
}

article.post header,
article.photo header {
    border-bottom: 1px solid #8FBC8F;
    padding-bottom: 2px;
}

article.media.message {
    margin-top: 5px;
}

p.reply,
p.comment,
p.message,
article.message p,
ul.notifications li a {
    display: inline;
    margin: 0 10px 0 0;
}

strong.object {
    color: #2E8B57;
}

ul.notifications li a {
    color: #000;
    text-decoration: none;
}

article.photo > img,
div#add-description > img {
    margin-bottom: 5px;
    max-width: 100%;
    width: 100%;
    border: 1px solid rgba(143, 188, 143, .2);
}
form#add-description img {
    margin-bottom: 5px;
}

article.message footer {
    display: inline-block;
}

article header div.media-{
    margin-bottom: 2px;
}

article header a {
    font-weight: bold;
}

article header a:hover {
    text-decoration: none;
}

article p {
    margin-bottom: 3px;
}
article.photo p {
    margin-bottom: 0;
}

article p a.more {
    display: inline-block;
}

article footer ul {
    border-top: 1px solid #8FBC8F;
    margin-top: 5px;
}

article footer > ul > li {
    display: inline;
}

article footer > ul > li > a {
    text-decoration: none;
    display: inline-block;
}

article footer > ul > li > a:hover {
    text-decoration: none;
    color: #2E8B57;
}

article footer > ul > li > span {
    display: inline-block;
    margin: 0 5px;
}

form label {
    display: block;
    margin-bottom: 0;
}

form div.input-group div label {
    font-weight: normal;
}

form div.input-group {
    margin-bottom: 10px;
}

form div.input-group p {
    margin-bottom: 0;
}

form div.input-group div {
    display: inline-block;
}

form textarea,
form input[type="text"],
form input[type="email"],
form input[type="search"],
form input[type="password"] {
    border-radius: 1px 1px 3px 3px;
    border: 1px solid #8FBC8F;
    border-top: 2px solid #2E8B57;
    background-color: #8FBC8F;
    font-weight: bold;
    padding: 1px 5px;
    width: 60%;
    color: #fff;
}

form textarea {
    resize: none;
}

form input[type="file"] {
    background-color: #fff;
    border-radius: 0;
    border: none;
    padding: 0;
    margin-top: 5px;
}

.fluid {
    width: 100% !important;
}

form .has-error {
    border: 1px solid #EBCCD1 !important;
    border-top: 2px solid rgba(255,0,0,.3) !important;
    background-color: #F2DEDE !important;
    color: #A94442 !important;
}

span.error {
    display: block;
    color: #A94442;
}

span.logged-in {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
}

.alert {
    border-radius: 3px;
    margin-bottom: 0;
}

form input:focus,
form select:focus,
form textarea:focus {
    background-color: #fff;
    font-weight: normal;
    color: #000;
}

div.form-group {
    margin-bottom: 5px;
}

fieldset > p,
div.input-group p {
    font-weight: bold;
}

span.help-block {
    margin-top: 0;
    margin-bottom: 5px;
}

p.post {
    text-align: justify;
    margin: 0;
}

p.post a.more {
    display: inline-block;
}

div.more a,
div.previous a {
    display: block;
}

div#comment {
    margin-bottom: 2.5px;
}

div#reply img.media-object,
div#comment img.media-object,
div#birthday-message img.media-object {
    height: 49.4px;  /* Always the same as the height of media-body */
}

@media (max-width: 480px) {
    html {
        height: auto;
    }

    body {
        margin-bottom: 80px;
    }

    .wrapper .col-large {
        float: none;
        width: 100% !important;
    }

    .wrapper .col-small {
        display: none;
    }

    .wrapper .col-large .side-content,
    .wrapper .col-large .suggestions {
        display: none;
    }

    div.wrapper div.col-large div.user-home div.side-content,
    div.wrapper div.col-large div.group-home div.side-content {
        display: block;
        width: 100%;
        float: none;
        margin-bottom: 5px;
    }

    .wrapper .col-large .main-content,
    .wrapper .col-large .main {
        float: none;
        width: 100%;
    }

    .wrap-single {
        width: auto;
        margin: 0 2%;
    }

    nav#user-nav-mobile {
        display: block;
    }

    .gallery img {
        height: auto;
        max-height: 200px;
    }

    div.col-xs-6:last-child {
        margin-bottom: 0;
    }

    div.col-xs-6 {
        width: 100%;
    }

    footer.footer {
        height: auto;
    }

    footer.footer a.pull-right {
        display: block;
        margin-bottom: 5px;
        float: none !important;
    }

    article footer ul li a {
        width: auto;
    }

    article footer .comment,
    article footer .share {
        text-align: left;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    body {
        margin-bottom: 80px;
    }

    ul.navbar-right li:nth-child(1),
    ul.navbar-right li:nth-child(2) {
        display: none;
    }

    .wrapper .col-large {
        width: 100%;
    }

    .wrapper .col-small {
        display: none;
    }

    .wrapper .col-large .main,
    .wrapper .col-large .suggestions {
        width: 100%;
    }

    .wrapper .col-large .suggestions {
        display: none;
    }

    .wrap-single {
        width: 60%;
        margin: auto;
    }

    nav#user-nav-mobile {
        display: block;
    }

    article footer > ul > li > a {
        width: auto;
    }

    footer.footer {
        height: auto;
    }

    footer.footer a.pull-right {
        display: block;
        margin-bottom: 5px;
        float: none !important;
    }
}

@media (min-width: 768px) and (max-width: 971px) {
    ul.navbar-right li:nth-child(1),
    ul.navbar-right li:nth-child(2) {
        display: none;
    }

    nav#user-nav-mobile {
        display: block;
    }

    div.suggestions h4 {
        margin-top: 5px;
        padding-bottom: 5px;
    }

    .wrapper .col-large {
        width: 100%;
    }

    div.col-small {
        display: none;
    }
}
